<style>
body{
background-color:orange;

background-repeat: no-repeat;
background-attachment: fixed;

}
</style>
    <div class ="jumbotron" style="height: 500px;width: 500px;background-color: non">
    <form>
    <b>Username</b>
    <input type="text" placeholder="Enter Username" name="uname" required style="height: 40px;width: 400px">
<br>
    <b>Password</b>
    <input type="password" placeholder="Enter Password" name="psw" required style="height: 40px;width: 400px">
<br><br>
    <button type="submit" style="height: 40px;width: 100px">Login</button>
      <button type="button" class="cancelbtn" style="height: 40px;width: 100px">Cancel</button>
   </form>
</div>
